@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
overflow: hidden;
  height: 100vh;
  background-image: url("http://imgon.net/di-4943.gif");
background-size:cover;
}

h32 {
  position:fixed;
  padding-left:100px;
  padding-top:43%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: .8em;
  color: #FFF;
opacity:0;
  animation-name: fadein3;
  animation-duration:.5s;
  animation-delay:.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  z-index: +2;
}


h33 {
  position:fixed;
   padding-top:43%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: .8em;
  color: #FFF;
opacity:0;
padding-left:350px;
  animation-name: fadein3;
  animation-duration:.5s;
  animation-delay:.45s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  z-index: +1;
}

h34 {
  position:fixed;
  padding-top:43%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: .8em;
  color: #FFF;
opacity:0;
padding-left:775px;
  animation-name: fadein3;
  animation-duration:.5s;
  animation-delay:.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


h3 {
    position:absolute;
    margin-top: 350px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  line-height: 140%;
  padding-left:500px;
  font-size: .8em;
  color: #FFF;
  top:50px;
  opacity:0;
  animation-name: fadein4;
  animation-duration:1s;
  animation-delay: 1.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

h2 {
    position:absolute;
    margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  padding-left:120px;
  font-size: .8em;
  color: #FFF;
  top:50px;
  opacity:0;
  animation-name: fadein2;
  animation-duration:1s;
  animation-delay: 1.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


h1 {
    position:absolute;
    margin-top: 100px;
  font-family: "Playfair Display";
  font-style: normal;
  letter-spacing: 10px;
  text-indent: 125px;
  font-size: 10em;
  color: #FFF;
  left:-25px;
  opacity:0;
  animation-name: fadein;
  animation-duration:1s;
  animation-delay: 1.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}



a:link {
    
    text-decoration: none;
    color:#fff;
}

a:visited {
    
    text-decoration: none;
    color:#fff;
}

a:hover {
    
    text-decoration: none;
    color:#fff;
}

a:active {
    
    text-decoration: none;
    color:#fff;
}

li {
  display: inline-block;
  padding: 0 20px;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.35s cubic-bezier(0.22, 0.5, 0.1, 1);
}

span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.35s cubic-bezier(0.22, 0.5, 0.1, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.gif{
  left:-.1;
  top:-1;
  position:absolute;
  width:1920px;height:975px;
}

vr { 
    display: block;
    width:175px;
    height: 1.5px; 
    background-color:#FFFFFF;
    position:absolute;
    top:79%;
    bottom:0;
    left:125;
    opacity:0;
    animation-name: slideIn;
  animation-duration:.5s;
  animation-delay:0s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

vr2 { 
    display: block;
    width:175px;
    height: 1.5px; 
    background-color:#FFFFFF;
    position:absolute;
    bottom:0;
    left:250;
    opacity:0;
    animation-name: slideIn2;
  animation-duration:.5s;
  animation-delay:.15s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

vr3 { 
    display: block;
    width:175px;
    height: 1.5px; 
    background-color:#FFFFFF;
    position:absolute;
    bottom:0;
    left:425;
    opacity:0;
    animation-name: slideIn2;
  animation-duration:.5s;
  animation-delay:.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

vr4 { 
    display: block;
    width:175px;
    height: 1.5px; 
    background-color:#FFFFFF;
    position:absolute;
    bottom:0;
    top:-217;
    left:-170;
    opacity:0;
    animation-name: slideIn3;
  animation-duration:.5s;
  animation-delay: 2.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadein3 {
    0%{opacity:0;top:15px;}
    100%{opacity:1;top:0px;}
}

@keyframes fadein {
    0%{opacity:0;left:-25px;}
    100%{opacity:1;left:0px;}
}


@keyframes fadein2 {
    0%{opacity:0;top:15px;}
    100%{opacity:1;top:0px;}
}
@keyframes fadein4 {
    0%{opacity:0;top:-15px;}
    100%{opacity:1;top:0px;}
}

@keyframes slideIn {
    0%{width:0;opacity:0;}
    100%{width:175;opacity:1;}
}

@keyframes slideIn2 {
    0%{width:0;opacity:0;}
    100%{width:350;opacity:1;}
}

@keyframes slideIn3 {
    0%{width:0;opacity:0;}
    100%{width:25;opacity:1;}
}